<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="functions" level="INFO"/>
    <logger name="operations" level="INFO"/>
    <logger name="io" level="INFO"/>
    <logger name="concurrent" level="INFO"/>
    <logger name="mathproj" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>
